*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { margin: 0; }
/* Rasmlarni sudrab chiqarib, belgilab yoki bosib bo'lmasin */
img { -webkit-user-drag: none; user-select: none; -webkit-user-select: none; pointer-events: none; -webkit-touch-callout: none; }
